<h2>Matches</h2>

<table class="sts_table team_matches">
  <tr>
    <th>Rd</th>
    <th>Date</th>
    <th>Home</th>
    <th>Away</th>
    <th>Rs</th>
  </tr>

  <% @team.matches.order(round: :desc).each do |match| %>
    <tr>
      <td><%= match.round %></td>
      <td><%= match.kick_off.slice(0,6) %></td>

      <% if match.was_home == "True" %>
        <td><%= link_to match.team_name, team_path(match.team_id) %></td>
        <td><%= link_to match.opp_team_name, team_path(match.opp_team_id) %></td>
      <% else %>
        <td><%= link_to match.opp_team_name, team_path(match.opp_team_id) %></td>
        <td><%= link_to match.team_name, team_path(match.team_id) %></td>
      <% end %>

      <td><%= match.team_h_score %>:<%= match.team_a_score %></td>
    </tr>
  <% end %>
</table>
