<h1 class="bigger_h1"><%= @team.team_name %></h1>

<div class="row main_t_stats">

  <div class="img_space col-sm-4">
    <%= image_tag('shirt.png', alt: "Team Shirt", class: "shirt") %>
  </div>

  <div class="col-12 col-sm-8 padding_0">

    <div class="row primary_row">
      <div class="col-3 circle_cont">
        <div class="stat_circle prim-st-light"><%= @team.points %></div>
        <div class="stat_title">POINTS</div>
      </div>

      <div class="col-3 circle_cont">
        <div class="stat_circle prim-st-light"><%= @team.won %></div>
        <div class="stat_title">WON</div>
      </div>

      <div class="col-3 circle_cont">
        <div class="stat_circle prim-st-light"><%= @team.draws %></div>
        <div class="stat_title">DRAW</div>
      </div>

      <div class="col-3 circle_cont">
        <div class="stat_circle prim-st-light"><%= @team.lost %></div>
        <div class="stat_title">LOST</div>
      </div>
    </div>

    <div class="row secondary_row sec-st">
      <div class="col-4">
        <p><span class="font-weight-bold"><%= @team.games_played %></span>
        MATCHES</p>
      </div>
      <div class="col-4">
        <p><span class="lft_line">&#124;</span><span class="font-weight-bold"><%= @team.goals_scored %></span>
        SCORED<span class="rgh_line">&#124;</span></p>
      </div>
      <div class="col-4">
        <p><span class="font-weight-bold"><%= @team.goals_conceded %></span>
        CONCEDED</p>
      </div>
    </div>

  </div>

</div>

<div class="row justify-content-center pl_data">

  <div class="col-12 col-sm-6 col-md-4 show_table">
    <p class="sts_title">OFFENSIVE</p>
    <div class="show_table_row">
      <span>Scored</span>
      <span><%= @team.goals_scored %></span>
    </div>

    <div class="show_table_row">
      <span>Scored per Game</span>
      <span>
        <%= number_with_precision(@team.goals_scored / @team.games_played, :precision => 2, :delimiter => '.') %>
      </span>
    </div>

    <div class="show_table_row">
      <span>Penalties</span>
      <span>ND</span>
    </div>

    <div class="show_table_row">
      <span>Penalties Scored</span>
      <span>ND</span>
    </div>

    <div class="show_table_row">
      <span>Passes Success</span>
      <span><%= @team.passes_success %>%</span>
    </div>

    <div class="show_table_row">
      <span>Offsides</span>
      <span><%= @team.offside %></span>
    </div>

    <div class="show_table_row">
      <span>Missed</span>
      <span><%= @team.target_missed %></span>
    </div>

    <div class="show_table_row">
      <span>Dribbles</span>
      <span><%= @team.dribbles %></span>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 show_table">
    <p class="sts_title">DEFFENSIVE</p>
    <div class="show_table_row">
      <span>Conceded</span>
      <span><%= @team.goals_conceded %></span>
    </div>

    <div class="show_table_row">
      <span>Conceded per Game</span>
      <span><%= @team.goals_conceded / @team.games_played %></span>
    </div>

    <div class="show_table_row">
      <span>Tackles</span>
      <span><%= @team.tackles %></span>
    </div>

    <div class="show_table_row">
      <span>Recoveries</span>
      <span><%= @team.recoveries %></span>
    </div>

    <div class="show_table_row">
      <span><abbr title="Clean Sheets">CS</abbr></span>
      <span><%= @team.clean_sheets %></span>
    </div>

    <div class="show_table_row">
      <span>Saves</span>
      <span><%= @team.saves %></span>
    </div>

    <div class="show_table_row">
      <span>Penalties Conceded</span>
      <span><%= @team.penalties_conceded %></span>
    </div>

    <div class="show_table_row">
      <span>Penalties Saved</span>
      <span><%= @team.penalties_saved %></span>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 show_table">
    <p class="sts_title">BOOKING</p>

    <div class="show_table_row">
      <span>Fouls</span>
      <span><%= @team.fouls %></span>
    </div>

    <div class="show_table_row">
      <span>Own Goals</span>
      <span><%= @team.own_goals %></span>
    </div>

    <div class="show_table_row">
      <span>Yellow Cards</span>
      <span><%= @team.yellow_cards %></span>
    </div>

    <div class="show_table_row">
      <span>Red Cards</span>
      <span><%= @team.red_cards %></span>
    </div>

    <div class="show_table_row">
      <span>Penalties Against</span>
      <span><%= @team.penalties_saved + @team.penalties_conceded %></span>
    </div>

    <div class="show_table_row">
      <span>Errors leading to goal</span>
      <span><%= @team.errors_leading_to_goal %></span>
    </div>
  </div>
</div>
