<h2>Matches</h2>

<table class="table table-striped table-inverse">
  <tr>
    <th>Round</th>
    <th>Date</th>
    <th>Home</th>
    <th>Away</th>
    <th>Result</th>
  </tr>

  <% @team.matches.limit(10).order(round: :desc).each do |match| %>
    <tr>
      <td><%= match.round %></td>
      <td><%= match.kick_off %></td>

      <% if match.was_home == "True" %>
        <td><%= match.team_name %></td>
        <td><%= match.opp_team_name %></td>
      <% else %>
        <td><%= match.opp_team_name %></td>
        <td><%= match.team_name %></td>
      <% end %>

      <td><%= match.team_h_score %>:<%= match.team_a_score %></td>
    </tr>
  <% end %>
</table>
