<h1><%= @team.team_name %></h1>

<div class="row main_t_stats">

  <div class="col-3">
    <%= image_tag('shirt.png', alt: "Team Shirt", class: "shirt") %>
  </div>

  <div class="col-9">

    <div class="d-inline"><%= @team.points %></div>
    <div>Points</div>

    <div class="d-inline"><%= @team.won %></div>
    <div>Won</div>

    <div class="d-inline"><%= @team.draws %></div>
    <div>Draws</div>

    <div class="d-inline"><%= @team.lost %></div>
    <div>Lost</div>

    <div class="one_stat">
      <div>Matches</div>
      <div><%= @team.games_played %></div>
    </div>
    <div class="one_stat">
      <div>Scored</div>
      <div><%= @team.goals_scored %></div>
    </div>
    <div class="one_stat">
      <div>Conceded</div>
      <div><%= @team.goals_conceded %></div>
    </div>
  </div>

</div>

<div class="row justify-content-center">

  <div class="col-3 show_table">
    <p class="sts_title">Offensive</p>
    <div class="show_table_row">
      <span>Scored</span>
      <span><%= @team.goals_scored %></span>
    </div>

    <div class="show_table_row">
      <span><abbr title="Scored per Game">SPG</abbr></span>
      <span>
        <%= number_with_precision(@team.goals_scored / @team.games_played, :precision => 2, :delimiter => '.') %>
      </span>
    </div>

    <div class="show_table_row">
      <span>Penalties</span>
      <span>ND</span>
    </div>

    <div class="show_table_row">
      <span><abbr title="Penalties Scored">PS</abbr></span>
      <span>ND</span>
    </div>

    <div class="show_table_row">
      <span><abbr title="Passes Success Rate">PSR</abbr></span>
      <span><%= @team.passes_success %></span>
    </div>

    <div class="show_table_row">
      <span>Offsides</span>
      <span><%= @team.offside %></span>
    </div>

    <div class="show_table_row">
      <span>Missed</span>
      <span><%= @team.target_missed %></span>
    </div>

    <div class="show_table_row">
      <span>Dribbles</span>
      <span><%= @team.dribbles %></span>
    </div>
  </div>

  <div class="col-3 show_table">
    <p class="sts_title">Deffensive</p>
    <div class="show_table_row">
      <span>Conceded</span>
      <span><%= @team.goals_conceded %></span>
    </div>

    <div class="show_table_row">
      <span><abbr title="Conceded per Game">CPG</abbr></span>
      <span><%= @team.goals_conceded / @team.games_played %></span>
    </div>

    <div class="show_table_row">
      <span>Tackles</span>
      <span><%= @team.tackles %></span>
    </div>

    <div class="show_table_row">
      <span>Recoveries</span>
      <span><%= @team.recoveries %></span>
    </div>

    <div class="show_table_row">
      <span><abbr title="Clearances, block, interceptions">CBI</abbr></span>
      <span><%= @team.clearances_blocks_interceptions %></span>
    </div>

    <div class="show_table_row">
      <span><abbr title="Clean Sheets">CS</abbr></span>
      <span><%= @team.clean_sheets %></span>
    </div>

    <div class="show_table_row">
      <span>Saves</span>
      <span><%= @team.saves %></span>
    </div>

    <div class="show_table_row">
      <span><abbr title="Penalties Conceded">PS</abbr></span>
      <span><%= @team.penalties_conceded %></span>
    </div>

    <div class="show_table_row">
      <span><abbr title="Penalties Saved">PS</abbr></span>
      <span><%= @team.penalties_saved %></span>
    </div>
  </div>

  <div class="col-3 show_table">
    <p class="sts_title">Booking</p>

    <div class="show_table_row">
      <span>Fouls</span>
      <span><%= @team.fouls %></span>
    </div>

    <div class="show_table_row">
      <span>Own Goals</span>
      <span><%= @team.own_goals %></span>
    </div>

    <div class="show_table_row">
      <span>Yellow Cards</span>
      <span><%= @team.yellow_cards %></span>
    </div>

    <div class="show_table_row">
      <span>Red Cards</span>
      <span><%= @team.red_cards %></span>
    </div>

    <div class="show_table_row">
      <span><abbr title="Penalties Against">PA</abbr></span>
      <span><%= @team.penalties_saved + @team.penalties_conceded %></span>
    </div>

    <div class="show_table_row">
      <span><abbr title="Errors leading to goal">EG</abbr></span>
      <span><%= @team.errors_leading_to_goal %></span>
    </div>
  </div>
</div>
