<table class="table sts_table team_table">
  <tr>
    <th class="alg_left">Team</th>
    <th><abbr title="Points">PTS</abbr></th>
    <th><abbr title="Goals For">GF</abbr></th>
    <th><abbr title="Goals per Game">GPG</abbr></th>
    <th><abbr title="Assists">A</abbr></th>
    <th><abbr title="Passes Success Rate">PSR</abbr></th>
    <th><abbr title="Offsides">OFF</abbr></th>
    <th><abbr title="Missed">MS</abbr></th>
    <th><abbr title="Dribbles">DB</abbr></th>
  </tr>

  <% teams.order(points: :desc).each do |team| %>
    <tr>
      <td class="alg_left"><%= link_to team.team_name, team_path(team) %></td>
      <td><%= team.points %></td>
      <td><%= team.goals_scored %></td>
      <td><%= team.goals_scored / team.games_played %></td>
      <td><%= team.assists %></td>
      <td><%= team.passes_success.round %></td>
      <td><%= team.offside %></td>
      <td><%= team.target_missed %></td>
      <td><%= team.dribbles %></td>
    </tr>
  <% end %>
</table>
