<table class="table sts_table team_table">
  <tr>
    <th class="alg_left">Team</th>
    <th><abbr title="Points">PTS</abbr></th>
    <th><abbr title="Own Goals">OG</abbr></th>
    <th><abbr title="Fouls">FL</abbr></th>
    <th><abbr title="Cards Overall">CO</abbr></th>
    <th><abbr title="Yellow Cards">YC</abbr></th>
    <th><abbr title="Red Cards">RC</abbr></th>
    <th><abbr title="Penalties Against">PA</abbr></th>
    <th><abbr title="Errors leading to goal">EG</abbr></th>
  </tr>

  <% teams.order(points: :desc).each do |team| %>
    <tr>
      <td class="alg_left"><%= link_to team.team_name, team_path(team) %></td>
      <td><%= team.points %></td>
      <td><%= team.own_goals %></td>
      <td><%= team.fouls %></td>
      <td><%= team.yellow_cards + team.red_cards %></td>
      <td><%= team.yellow_cards %></td>
      <td><%= team.red_cards %></td>
      <td><%= team.penalties_saved + team.penalties_conceded %></td>
      <td><%= team.errors_leading_to_goal %></td>
    </tr>
  <% end %>
</table>
