<h2>Latest games</h2>
<table class="sts_table mtch_table">
  <tr>
    <th>Round</th>
    <th>Date</th>
    <th>VS</th>
    <th>Result</th>
  </tr>

  <% @matches.order(round: :desc).each do |match| %>
    <tr>
      <td><%= match.round %></td>
      <td><%= match.kick_off.slice(0,6) %></td>
      <td class="text-left">
        <%= link_to match.team_name, team_path(match.team_id) %>
        -
        <%= link_to match.opp_team_name, team_path(match.opp_team_id) %>
      </td>
      <td><%= match.team_h_score %>:<%= match.team_a_score %></td>
    </tr>
  <% end %>
</table>
