<h1>Premier League</h1>
<div class="diff_stats_links">
  <ul>
    <li><%= link_to "Overview", teams_stats_teams_path, id: "t_over", remote: true %></li>
    <li><%= link_to "Offensive", teams_stats_teams_path, id: "t_offe", remote: true %></li>
    <li><%= link_to "Deffensive", teams_stats_teams_path, id: "t_deff", remote: true %></li>
    <li><%= link_to "Booking", teams_stats_teams_path, id: "t_book", remote: true %></li>
    <li><%= link_to "Form", teams_stats_teams_path, id: "t_form", remote: true %></li>
  </ul>
</div>
