
<div id="full_table">
  <%= render partial: "team_links" %>

  <div id="change_team_stats">
    <%= render partial: "team_overwiev", locals: {teams: @teams, players: @players, matches: @matches} %>
  </div>

</div>

<div id="player_stats">
  <%= render partial: "player_links" %>

  <div id="change_player_stats">
    <%= render partial: "player_overwiev", locals: {players: @players} %>
  </div>

</div>

<div id="matches_stats">
  <%= render partial: "match_overwiev", locals: {matches: @matches} %>
</div>
