<h1><%= @team.team_name %></h1>

<table>
  <tr>
    <th>Matches Played</th>
    <th>Points</th>
  </tr>
  <tr>
    <td><%= @team.games_played %></td>
    <td><%= @team.points %></td>
    <td><%= link_to 'Back', teams_path %></td>
  </tr>
</table>

<h2>Players</h2>

<table>
  <tr>
    <th>Player Name</th>
    <th>Position</th>
    <th>Minutes</th>
    <th>Points</th>
    <th>Goals</th>
    <th>Assists</th>
  </tr>

  <% @team.players.each do |player| %>
    <tr>
      <td><%= player.full_name %></td>
      <td><%= player.position %></td>
      <td><%= player.minutes %></td>
      <td><%= player.total_points %></td>
      <td><%= player.goals_scored %></td>
      <td><%= player.assists %></td>
    </tr>
  <% end %>
</table>

<h2>Matches</h2>

<table>
  <tr>
    <th>Round</th>
    <th>Date</th>
    <th>Home</th>
    <th>Away</th>
    <th>Result</th>
  </tr>

  <% @team.matches.each do |match| %>
    <tr>
      <td><%= match.round %></td>
      <td><%= match.kick_off %></td>

      <% if match.was_home == "True" %>
        <td><%= match.team_name %></td>
        <td><%= match.opp_team_name %></td>
      <% else %>
        <td><%= match.opp_team_name %></td>
        <td><%= match.team_name %></td>
      <% end %>

      <td><%= match.team_h_score %>:<%= match.team_a_score %></td>
    </tr>
  <% end %>
</table>
