<h1>Fantas Premier League Stats Site</h1>

<div class="container">
  <div class="row justify-content-center">
    <% @teams.each_with_index do |t, index| %>

      <div class="col-md-4 show_table">
        <div class="home_title">
          <span><%= link_to t[:team_name], t %></span>
        </div>
        <p class="text-center">
          <% case index
             when 0 %><%= "Won " + t[:won].to_s + " out of " + t[:games_played].to_s + " games" %>
          <% when 1 %><%= "Scored " + t[:goals_scored].to_s + " and conceded " + t[:goals_conceded].to_s + " goals" %>
          <% when 2 %><%= "Had " + t[:passes_success].to_s + "% of successful passes" %>
          <% end %>
        </p>
      </div>

    <% end %>
  </div>

  <div class="row justify-content-center">
    <% @players.each_with_index do |p, index| %>

      <div class="col-md-4 show_table">
        <div class="home_title">
          <span><%= link_to p[:full_name], p %></span><br>
          <span class="home_subtitle">
            <% case p[:position]
            when 1 %><td class="text-left">Goalkeeper</td>
            <% when 2 %><td class="text-left">Defender</td>
            <% when 3 %><td class="text-left">Midfielder</td>
            <% when 4 %><td class="text-left">Forward</td>
          <% end %>
          </span><br>
          <span class="home_subtitle"><%= p[:team_name] %></span>
        </div>
        <p class="text-center">
          <% case index
             when 0 %><%= "Gathered " + p[:total_points].to_s + " points" %>
          <% when 1 %><%= "Played " + number_with_delimiter(p[:minutes], delimiter: " ").to_s + " minutes" %>
          <% when 2 %><%= "Scored " + p[:goals_scored].to_s + " goals" %>
          <% end %>
        </p>
      </div>

    <% end %>
  </div>
</div>
