<table>
  <tr>
    <th>Player</th>
    <th>Position</th>
    <th>Number</th>
    <th>Team</th>
    <th>Games played</th>
    <th>Minutes Played</th>
    <th>Points</th>
    <th>Bonus Points</th>
    <th>Pts per Game</th>
    <th>In Dreamteam</th>
    <th>Threat</th>
    <th>Influence</th>
    <th>Creativity</th>
  </tr>

  <% players.order(total_points: :desc).each do |player| %>
    <tr>
      <td><%=  link_to player.full_name, player_path(player) %></td>
      <% case player.position
      when 1 %><td>Golkeeper</td>
      <% when 2 %><td>Defender</td>
      <% when 3 %><td>Midfielder</td>
      <% when 4 %><td>Forward</td>
      <% end %>
      <td><%= player.squad_number %></td>
      <td><%= player.team_name %></td>
      <td>> 0 min</td>
      <td><%= player.minutes %></td>
      <td><%= player.total_points %></td>
      <td><%= player.bonus %></td>
      <td><%= player.points_per_game %></td>
      <td><%= player.dreamteam_count %></td>
      <td><%= player.threat %></td>
      <td><%= player.influence %></td>
      <td><%= player.creativity %></td>
    </tr>
  <% end %>
</table>
