<table class="table sts_table">
  <tr>
    <th class="alg_left">Player</th>
    <th>Position</th>
    <th>Number</th>
    <th>Team</th>
    <th>Tackles</th>
    <th>Recoveries</th>
    <th><abbr title="Clearances, Blocks, Interceptions">CBI</abbr></th>
    <th><abbr title="Clean Sheets">CS</abbr></th>
    <th>Saves</th>
    <th><abbr title="Penalties Conceded">PC</abbr></th>
    <th><abbr title="Penalties Saved">PS</abbr></th>
  </tr>

  <% players.order(clean_sheets: :desc).each do |player| %>
    <tr>
      <td class="alg_left"><%=  link_to player.full_name, player_path(player) %></td>
      <% case player.position
      when 1 %><td class="alg_left">Golkeeper</td>
      <% when 2 %><td class="alg_left">Defender</td>
      <% when 3 %><td class="alg_left">Midfielder</td>
      <% when 4 %><td class="alg_left">Forward</td>
      <% end %>
      <td><%= player.squad_number %></td>
      <td class="alg_left"><%= player.team_name %></td>
      <td><%= player.tackles %></td>
      <td><%= player.recoveries %></td>
      <td><%= player.clearances_blocks_interceptions %></td>
      <td><%= player.clean_sheets %></td>
      <td><%= player.saves %></td>
      <% if player.position == 1 %><td><%= player.penalties_conceded %></td>
      <% else %><td>0</td>
      <% end %>
      <td><%= player.penalties_saved %></td>
    </tr>
  <% end %>
</table>
