<table class="table sts_table">
  <tr>
    <th class="alg_left">Player</th>
    <th>Position</th>
    <th>Number</th>
    <th>Team</th>
    <th>Played</th>
    <th><abbr title="Minutes Played">MP</abbr></th>
    <th>Pts</th>
    <th><abbr title="Bonus Points">BPts</abbr></th>
    <th><abbr title="Points per Game">PPG</abbr></th>
    <th><abbr title="In Dream Team">DT</abbr></th>
    <th>Threat</th>
    <th>Influence</th>
    <th>Creativity</th>
  </tr>

  <% players.order(total_points: :desc).each do |player| %>
    <tr>
      <td class="alg_left"><%=  link_to player.full_name, player_path(player) %></td>
      <% case player.position
      when 1 %><td class="alg_left">Golkeeper</td>
      <% when 2 %><td class="alg_left">Defender</td>
      <% when 3 %><td class="alg_left">Midfielder</td>
      <% when 4 %><td class="alg_left">Forward</td>
      <% end %>
      <td><%= player.squad_number %></td>
      <td class="alg_left"><%= player.team_name %></td>
      <td>> 0 min</td>
      <td><%= player.minutes %></td>
      <td><%= player.total_points %></td>
      <td><%= player.bonus %></td>
      <td><%= player.points_per_game %></td>
      <td><%= player.dreamteam_count %></td>
      <td><%= player.threat %></td>
      <td><%= player.influence %></td>
      <td><%= player.creativity %></td>
    </tr>
  <% end %>
</table>
